services:
    -
        class: Tooling\EloquentFilters\PhpStan\Rules\BuilderUsesHasFiltersTrait
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\EloquentFilters\PhpStan\Rules\BuilderImplementsFilterableContract
        tags:
            - phpstan.rules.rule